Código para limpeza e transformação de dados de um arquivo csv

In [ ]:
#Importar bibliotecas
import panda as pd
import numpy as np

In [ ]:
#Importar e ler arquivo
data = pd.data.read_csv('data_csv')
data.head()

In [ ]:
#Remove linhas dos dados com Not a Number
data = data.dropna()

In [ ]:
#Exibe e remove linhas dos dados duplicados
data = duplicated()
data = data.drop_duplicated()

In [ ]:
#Substitui ? por NaN e remove
data = data.replace('?' , np.nan)
data = data.dropna()

In [ ]:
#Remove colunas
data = data.drop(data.columns[[0,3]], axis=1)
#Remove linhas
data = data.drop(data.index[[0,2]], axis=0)

In [ ]:
#Visualizar tabela ajustada
data.head()